* {box-sizing: border-box;}


/* Estilização do forms */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Configuração dos inputs */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Configuração dos inputs */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*Botão de enviar*/
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Botão de apagar */
.form-container .clearbtn {
  background-color: rgb(253, 30, 30);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Efeito hover */
.form-container .btn:hover, .form-container .clearbtn:hover {
  opacity: 1;
} 