
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }  

body{
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Ftheunitedorganizationtoonsheroes%2Fimages%2F2%2F28%2FAlfea.jpg%2Frevision%2Flatest%3Fcb%3D20130511143607&f=1&nofb=1') no-repeat center;
    background-size: cover;
    font-family: 'Crimson Text', serif;
    }



.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: #838bdadc;    
 
}

.main-menu {
 
    display: flex;
    gap: 20px;
    list-style: none;
} 
    .main-header img {
        height: fit-content;
        height:100px;
        width: 150px;
        
    }  

    .main-menu a {
        opacity: .6;    
        color: black;
        text-decoration: none;
        transition: .2s ease-in-out;
    }
    
    .main-menu a:hover {
        opacity: 1;
    
    }   

    .main-header button  {           
        font-size: 24px;
        border: 2px solid whitesmoke;
        background-color: transparent;
        padding: 6px 12px;
        border-radius: 36px;
        height: fit-content;
        transition: .2s ease-in-out;    
        color: white;
        cursor: pointer;

    }
    .main-header button:hover {
        transform: scale(0.4s);
        background-color:#793dc2;
        color: white;
    
    }

    .main-header button:focus {
        /* outline: none; */
    } 
      
   
    main {
        padding: 42px;
    }
    main h1 {
        color: white;
        font-size: 60px;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
        margin-top: 24px;
    }

.video{
    width: 1000px;
    height: 600px;
    margin-top: 40px;
    text-decoration: none;
}

#logo{
    height:150px;
    width: 180px;
    background-color: white;
    
    }

    #logo:hover{
        color: violet;
    }

main h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #1161DE;
    text-align: center;
    background-color: #e5e5e5c2;
    padding: 20px 0;
    margin-bottom: 15px;

    }


    
p{
    background-color: #e5e5e5c2;
    padding: 0 15px;
    font-family: 'Crimson Text', serif;
    font-size: 30px;
    line-height: 50px;
    }
    
.videoWinx{
     margin: 0 300px 24px 300px;
    /* width:640px;
    height:360px;
    text-decoration: none; */ 
    width: 1280px;
    height: 720px;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
   

}
    
h2{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #1161DE;
    text-align: center;
    background-color: #e5e5e5c2;
    padding-top: 20px;
}
    

li {
    margin-bottom: 10px;
    font-size: 25px;
    list-style: none;      
}
   

li:hover {
    color:violet;

}
footer{
    text-align: center;
    padding: 10px 0;
}

.social{
    height: 80px;
    width: 80px;
    opacity:.8;
    padding: 10px;
}


.social:hover { 
  opacity: 1;
  padding: 20px;
}


.grade{

display: flex;
flex-wrap: wrap;
gap: 24px;
justify-content: center;
margin-top: 24px;
}


card {
    width: 400px;
    transition: .5s ease-in-out;
    }
    

    .card:hover {
        transform: scale(1.05);
        }
        
    
    .card img {
        width: 400px;

              
    }
    
    .card h1 {
        font-size: 18px;
    }

    .zap img {
        position: fixed;
        bottom: 10px;
        right: 40px;
        width: 50px;
        height: 50px;
      }