/* MENU */

header {
    position: fixed;
    background: #fff;
    width: 100%;
    padding: 20px 0;
}

.menu {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.menu ul {
    display: inline-block;
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin: 0 5px;
}

.menu ul li a {
    padding: 10px;
    color: tomato;
    text-transform: uppercase;
}