* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    height: 1000px;
}
.caixa1 {
    background-color:salmon;
    height: 200px;
    position: absolute;
    padding: 24px;
    width: 200px;
    top: 0;
}

.caixa2 {
    background-color:salmon;
    bottom: 200px;
    height: 200px;
    position:fixed;
    right: 600px;
    width: 200px;
    padding: 24px;
}

.caixa3 {
    position:absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color:salmon;
    padding: 24px;
}

.texto-interno {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    text-align: center;
}